<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <insert id="addGoods" parameterType="goods">
        insert into goods values (null,#{goods_no},#{goods_name},#{goods_typeNo},#{goods_desc},#{goods_img},#{goods_price},#{goods_qty},#{goods_discount})
    </insert>
    <update id="updateGoods" parameterType="goods">
        update goods set goods_no=#{goods_no},goods_name=#{goods_name},goods_typeNo=#{goods_typeNo},
        goods_desc=#{goods_desc},goods_img=#{goods_img},goods_price=#{goods_price},goods_qty=#{goods_qty},
        goods_qty=#{goods_qty},goods_discount=#{goods_discount} where goods_id = #{goods_id}
    </update>
    <resultMap id="rMap_goods" type="goods">
        <id column="goods_id" property="goods_id"></id>
        <result column="goods_no" property="goods_no"></result>
        <result column="goods_name" property="goods_name"></result>
        <result column="goods_typeNo" property="goods_typeNo"></result>
        <result column="goods_desc" property="goods_desc"></result>
        <result column="goods_pic" property="goods_pic"></result>
        <result column="goods_price" property="goods_price"></result>
        <result column="goods_qty" property="goods_qty"></result>
        <association property="ca" javaType="category">
            <id column="caid" property="id" />
            <result column="title" property="title" />
            <result column="pid" property="pid"  />
        </association>
        <association property="pic" javaType="goodstype">
            <id column="picid" property="id"></id>
            <result column="goodspic" property="goodspic"></result>
            <result column="goodsid" property="goodsid"></result>
            <result column="adddate" property="adddate"></result>
            <result column="fm" property="fm"></result>
        </association>
    </resultMap>
    <select id="queryAll" parameterType="goodsVo" resultMap="rMap_goods">
        select g.goods_id,g.goods_no,g.goods_name,g.goods_typeNo,g.goods_desc,g.goods_img,g.goods_price,g.goods_qty,
        ca.id as caid ,ca.title,ca.pid,
        gp.id as picid,gp.goodspic,gp.goodsid,gp.adddate,gp.fm
        from goods g left join category ca  on gt.goodstype_parentType=g.goods_typeNo
        left join goodspic gp on gp.goodsid=g.goods_id
        <where>
            <if test="name!=null and name!=''">
                and goods_name =#{name}
            </if>
            <if test="typeno!=null and typeno!=''">
                and goods_typeNo =#{goods_typeNo}
            </if>
        </where>

    </select>
    <delete id="delGoods" parameterType="int">
        delete from goods where goods_id=#{id}
    </delete>

    <delete id="delgoods" parameterType="int">
        delete from goods where goods_id=#{id}
    </delete>
    <insert id="addCa" parameterType="category">
        insert  into category values (null,#{title},#{pid})
    </insert>
    <update id="updateCa" keyProperty="category">
        update category set title=#{title} pid=#{pid} where id=#{id}
    </update>

    <select id="queryCa"  resultType="category">
        select * from category;
    </select>
    <select id="queryChildren" resultType="category">
        select * from category where pid=#{pid}
    </select>
</mapper>