*{
    margin-top: 0;
    padding: 0;
}
header.b2c_header{
    background-color: deepskyblue;
    width: 100%;
    height: 100px;
}
span.b2c_title{
    font-size: 30px;
    padding-left: 55px;
}

span.b2c_login{
    font-size: 20px;
    float: right;
    padding-right: 50px;
}

.b2c_selectca{
    height: 34px;
    border-radius: 5px;
}
.b2c_catalogueTitle{
    width: 100%;
    background-color: slateblue;
    font-size: 26px;
    color: white;
}
div>b{
    color: red;
}
.b2c_catelogue{
    margin-top: 10px;
    padding-left: 20px;
}

.b2c_catelogue>span{
    padding-left: 25px;
    font-size: 14px;
}